nav.nav.gifnjam {
  background: rgba(79, 69, 139, 0.9);
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/